
<main>
    
    <h2> Bell Labs 2.0 Grade Calculator</h2> </br> 
    
    <div class="jumbotron">
        <p><b><u>Hello and Welcome!</u></b></p>
        <p>Welcome to the Official Bell Labs 2.0 Grade Calculator. A tool for 
            <a href="https://www.wcupa.edu/"> West Chester University of Pennsylvania</a> students.</p>
        <p>Check to see if you are qualified for an internship on the <a href="/contact"> grade input page.</a>
            You must have at least a 2.5 GPA in CSC 141, CSC 142, CSC 240, and CSC 241 cummulatively to qualify.
            See the qualified students on the <a href="/users"> qualified students page.</a>
        </p>
    </div>
</main>

