<h1>Qualfied Students</h1>
<p>All listed students have attained at least a 2.5 GPA in required courses and are qualified for internship: </p>
<% allUsers.forEach(user => {%> 
    <h5> <%= user.name %>  </h5>     
    <span></h5>  </span> 
<% }) %>